# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/

# DuckDB
data/warehouse/*.duckdb

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
dbt_project/.user.yml

# OS
.DS_Store
Thumbs.db
